@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}
* body{
    margin: 0;
} 
.header {
    background-color: #0A033C;
    padding:10px 0;
    font-family: 'Be+Vietnam+Pro',sans-serif;
}
.container {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}
.header .logo img {
    height: 56px;
    width: auto;
}
.header .menu ul{
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    list-style: none;
}
.header .menu ul li{
    margin: 0 15px;
}
.header .menu ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.header .menu ul li a.action{
    color:#03728A
}
.buttom{
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    color: #0A033C;
}